div{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.google-logo{
    width: 200px;
    margin-top: 10px;
}

input{
    display: block;
    border: none;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    width: 500px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 350px;
    
}

.button{
    margin-top: 30px;
    margin-right: 10px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

}